@model DustedCodes.Blog.ViewModels.Blog.ArticlePartialViewModel
<article>
    <header>
        <h1>
            @if (Model.RenderTitleAsLink)
            {
                <a href="@Model.PermalinkUrl">@Model.Title</a>
            }
            else
            {
                @Model.Title
            }
        </h1>
        <div class="article-metadata">
            <time datetime="@Model.ValidHtml5TPublishDateTime" class="icon fa-calendar">@Model.UserFriendlyPublishDateTime</time>
            <address class="icon fa-user author">@Model.Author</address>
            <a class="icon fa-pencil edit-article" href="@Model.EditArticleUrl">Edit</a>
            <a class="icon fa-comments disqus-comment-count" href="@Model.PermalinkUrl#disqus_thread" data-disqus-identifier="@Model.Id">Comments</a>
            @if (Model.HasTags)
            {
                <span class="icon fa-tags tags">
                    @foreach (var tag in Model.Tags)
                    {
                        @Html.ActionLink(tag, "Tagged", "Blog", new { tag }, null)
                    }
                </span>
            }
        </div>
    </header>
    @Html.Raw(Model.Content)
    <footer class="share-links">
        <h1>Share it:</h1>
        <a href="mailto:?subject=@Model.Title&amp;body=Check out this site @Model.PermalinkUrl."
           title="Share by Email">
            <i class="fa fa-envelope-o"></i>
        </a>
        <a href="@Model.TwitterShareUrl" title="Share on Twitter">
            <i class="fa fa-twitter"></i>
        </a>
        <a href="@Model.GooglePlusShareUrl" title="Share on Google+">
            <i class="fa fa-google-plus"></i>
        </a>
        <a href="@Model.FacebookShareUrl" title="Share on Facebook">
            <i class="fa fa-facebook-f"></i>
        </a>
        <a href="@Model.YammerShareUrl" title="Share on Yammer">
            <i class="fa fa-yahoo"></i>
        </a>
        <a href="@Model.LinkedInShareUrl" title="Share on LinkedIn">
            <i class="fa fa-linkedin"></i>
        </a>
        <a class="mobile-only" href="@Model.WhatsAppShareUrl" data-action="share/whatsapp/share" title="Share on WhatsApp">
            <i class="fa fa-whatsapp"></i>
        </a>
    </footer>
</article>