@model DustedCodes.Blog.ViewModels.Blog.ArticleViewModel

@Html.Partial("_Article", Model.Article)

<aside>
    <div id="disqus_thread"></div>
    <script type="text/javascript">
        var disqus_shortname = '@Model.DisqusShortname';
        var disqus_identifier = '@Model.Article.Id';
        var disqus_title = '@Model.Article.Title';
        var disqus_url = '@Model.Article.PermalinkUrl';

        (function () {
            var dsq = document.createElement('script');
            dsq.async = true;
            dsq.type = 'text/javascript';
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
</aside>

@section BeforeEndOfBody
{
    <script type="text/javascript">
        (function () {
            var s = document.createElement('script');
            s.async = true;
            s.type = 'text/javascript';
            s.src = '//' + disqus_shortname + '.disqus.com/count.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(s);
        }());
    </script>
}