@model DustedCodes.Blog.ViewModels.Blog.IndexViewModel

@if (Model.Articles != null && Model.Articles.Any())
{
    foreach (var articleModel in Model.Articles)
    {
        @Html.Partial("_Article", articleModel)
    }

    <p class="pager">
        @if (Model.TotalPageCount > Model.CurrentPage)
        {
            <a href="@Url.Action("Index", "Blog", new { page = Model.CurrentPage + 1 })">
                Older Posts
                <i class="fa fa-chevron-right"></i>
            </a>
        }

        @if (Model.CurrentPage > 1)
        {
            <a href="@Url.Action("Index", "Blog", new { page = Model.CurrentPage - 1 })">
                <i class="fa fa-chevron-left"></i>
                Newer Posts
            </a>
        }
    </p>
}
else
{
    <div>
        <p>No articles matchig your search query.</p>
        <p>@Html.ActionLink("Return to all articles", "Index", "Blog")</p>
    </div>
}

@section BeforeEndOfBody
{
    <script type="text/javascript">
        var disqus_shortname = '@Model.DisqusShortname';
        (function () {
            var s = document.createElement('script');
            s.async = true;
            s.type = 'text/javascript';
            s.src = '//' + disqus_shortname + '.disqus.com/count.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(s);
        }());
    </script>
}