@model DustedCodes.Blog.ViewModels.Blog.TrendingViewModel

<article id="trending">
    <h1>Top @Model.Articles.Count articles by popularity</h1>

    <ol>
        @foreach (var article in Model.Articles)
        {
            <li>
                <div>@Html.ActionLink(article.Title, "Article", "Blog", new { id = article.Id }, null)</div>
                <div class="article-metadata">
                    <span class="icon fa-calendar">@article.UserFriendlyPublishDateTime</span>
                    @if (article.Tags != null && article.Tags.Any())
                    {
                        <span class="icon fa-tag tags">
                            @foreach (var tag in article.Tags)
                            {
                                @Html.ActionLink(tag, "Tagged", "Blog", new { tag }, null)
                            }
                        </span>
                    }
                    <a class="icon fa-comment disqus-comment-count" href="@article.PermalinkUrl#disqus_thread" data-disqus-identifier="@article.Id">Comments</a>
                </div>
            </li>
        }
    </ol>
</article>