@model DustedCodes.Blog.ViewModels.BaseViewModel
<!DOCTYPE html>
<html>
@Html.Partial("_AsciiArt")
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="@Model.BlogDescription" />
    <link rel="icon" type="image/png" href="@Model.FullQualifiedContentUrl("/Assets/Images/favicon-16x16.png")" sizes="16x16" />
    <link rel="icon" type="image/png" href="@Model.FullQualifiedContentUrl("/Assets/Images/favicon-32x32.png")" sizes="32x32" />
    <title>@Model.PageTitle</title>
    <link rel="alternate" type="application/rss+xml" title="RSS Feed" href="@Url.Action("Rss", "Feed")">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,600,700,800">
    <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="@Model.CssFilePath">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js" defer></script>
    <script src="@Model.JavaScriptFilePath" defer></script>
    @RenderSection("BeforeEndOfHead", required: false)
    @Html.Partial("_Analytics")
</head>
<body>
    <header>
        <div>
            <h1>@Html.ActionLink(Model.BlogTitle, "Index", "Blog")</h1>
            <h2>@Model.BlogDescription</h2>
        </div>
        <button id="nav-toggle-button" title="Menu">
            <span class="screenreader-only">Toggle Navigation</span>
            <span class="nav-toggle-btn-bar"></span>
            <span class="nav-toggle-btn-bar"></span>
            <span class="nav-toggle-btn-bar"></span>
        </button>
    </header>
    <main>
        @RenderBody()
    </main>
    <nav>
        <ul>
            <li>
                @Html.ActionLink("Home", "Index", "Blog")
            </li>
            <li>
                @Html.ActionLink("Archive", "Archive", "Blog")
            </li>
            <li>
                @Html.ActionLink("Trending", "Trending", "Blog", null, new { @class = "icon fa-line-chart icon-larger" })
            </li>
            <li>
                <a class="icon fa-github icon-larger" href="https://github.com/dustinmoris?tab=repositories">Projects</a>
            </li>
            <li>
                @Html.ActionLink("Subscribe", "Rss", "Feed", null, new { @class = "icon fa-rss icon-larger" })
            </li>
            <li>
                <a class="icon fa-twitter icon-larger" href="https://twitter.com/dustinmoris">Follow</a>
            </li>
        </ul>
    </nav>
    <footer>
        <div id="inner-footer">
            <div id="footer-about">
                <h5>About</h5>
                <p>My name is Dustin and I'm a software developer from Vienna, Austria, living in the UK now. I created this blog and author it since 2015. @Html.ActionLink("Read more...", "About", "Home")</p>
                <div id="footer-social-links">
                    <a href="https://twitter.com/dustinmoris" title="Follow me on Twitter">
                        <span class="fa-stack fa-lg">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                        </span>
                    </a>
                    <a href="https://www.facebook.com/dustinmoris.gorski" title="Follow me on Facebook">
                        <span class="fa-stack fa-lg">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                        </span>
                    </a>
                    <a href="https://www.linkedin.com/in/dustinmoris" title="Follow me on LinkedIn">
                        <span class="fa-stack fa-lg">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
                        </span>
                    </a>
                    <a href="@Url.Action("Rss", "Feed")" title="Subscribe to my RSS feed">
                        <span class="fa-stack fa-lg">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-rss fa-stack-1x fa-inverse"></i>
                        </span>
                    </a>
                </div>
            </div>
            <div id="footer-copyright">
                <h5>Copyright &copy; @DateTime.Now.Year, Dustin Moris Gorski</h5>
                <p>
                    All source code is licensed under <a href="http://www.gnu.org/licenses/gpl-2.0.html">GPL v2.0</a>.
                </p>
                <p>All other content on this website, such as text, graphics, logos and images is the property of Dustin Moris Gorski.</p>
            </div>
        </div>
    </footer>
    @RenderSection("BeforeEndOfBody", required: false)
</body>
</html>
