@model DustedCodes.Blog.ViewModels.BaseViewModel
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="@Model.BlogDescription" />
    <title>@ViewBag.Title - @Model.BlogTitle</title>
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,600,700,800">
    <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/Css/site.min.css?v=4">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="~/Content/Scripts/main.js"></script>
    @RenderSection("BeforeEndOfHead", required: false)
    @Html.Partial("_Analytics")
</head>
<body>
    <header>
        <div>
            <h1>@Html.ActionLink(Model.BlogTitle, "Index", "Blog")</h1>
            <h2>@Model.BlogDescription</h2>
        </div>
    </header>
    <main>
        @RenderBody()
    </main>
    <nav>
        <ul>
            <li>
                @Html.ActionLink("Blog", "Index", "Blog")
            </li>
            <li>
                @Html.ActionLink("Archive", "Archive", "Blog")
            </li>
            <li>
                @Html.ActionLink("About", "About", "Home")
            </li>
            <li>
                @Html.ActionLink("RSS", "Rss", "Feed", null, new { @class = "icon fa-rss" })
            </li>
            <li>
                @Html.ActionLink("Atom", "Atom", "Feed", null, new { @class = "icon fa-rss" })
            </li>
        </ul>
    </nav>
    <footer>
        <p>Copyright &copy; @DateTime.Now.Year, Dustin Moris Gorski</p>
    </footer>
    @RenderSection("BeforeEndOfBody", required: false)
</body>
</html>
